@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100%;
    height: 1rem;
    display: flex;
    border-bottom: 1px solid #EDEFEF;
    justify-content: space-around;
    li{
        text-align: center;
        height: 100%;
    }
    li:nth-child(1){
        width: 30%;
        display: flex;
        align-items: center;
        img{
            width: 100%;
            height: 70%;
            padding-left: 0.18rem;
        }
    }
    li:nth-child(2){
        width: 40%;
        display: flex;
        font-size: 0.36rem;
        align-items: center;
        justify-content: center;
    }
    li:nth-child(3),li:nth-child(4){
        width: 15%;
        padding-top: 0.16rem;
        font-size: 0.22rem;
        box-sizing: border-box;
        color: gray;
        img{
            width: 40%;
            height: 50%;
        }
    }
}
.tu{
    width: 100%;
    img{
        width: 100%;
    }
}
.header_p{
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.36rem;
}
.header_pp{
    width: 95%;
    margin: 0 auto;
    display: flex;
    p{
        width: 40%;
        height: 1px;
        background:#d7d7d7;
        margin-top: 0.15rem;
    }
    img{
        margin: -0.15rem 0.25rem;
    }
}
.jufang{
    width: 80%;
    margin: 0 auto;
    input{
        width: 100%;
        height: 1rem;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }
    select:nth-child(2){
        width: 100%;
        height: 1rem;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }
    select:nth-child(3),select:nth-child(4){
        width: 47.5%;
        height: 1rem;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }
    select:nth-child(5),select:nth-child(6),select:nth-child(7){
        width: 30%;
        height: 1rem;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
    }
    button{
        width: 100%;
        height: 1rem;
        border: none;
        border-radius: 5px;
        background: #eed215;
        color: white;
        font-size: 0.36rem;
    }
}
.zhuangxiu{
    width: 95%;
    height: 2.5rem;
    border: 1px dashed #58CFA1;
    margin: 0 auto;
    margin-top: 0.8rem;
    text-align: center;
    p:nth-child(1){
        width: 1.8rem;
        margin: 0 auto;
        background: white;
        font-size: 0.36rem;
        margin-top: -0.25rem;
    }
    p:nth-child(2){
        color: gray;
        margin-top: 0.1rem;
        font-size: 0.22rem;
        span{
            color: #FF5D68;
        }
    }
    p:nth-child(3){
        font-size: 0.22rem;
        margin-top: 0.1rem;
    }
    p:nth-child(4){
        color: gray;
        font-size: 0.22rem;
        margin-top: 0.1rem;
        span{
            color: #FEBF2A;
        }
    }
    p:nth-child(5){
        width: 70%;
        height: 0.5rem;
        border: 1px solid #38C993;
        color: #38C993;
        text-align: center;
        line-height: 0.5rem;
        margin: 0.2rem auto;
        font-size: 0.2rem;
    }
}
hr{
    width: 100%;
    height: 0.1rem;
    background: #F4F4F4;
    margin-top: 0.2rem;
    border: none;
}
.p1{
    width: 100%;
    text-align: center;
    font-size: 0.36rem;
    margin-bottom: 0.2rem;
}
.ul_a{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0.2rem;
    li{
        width: 33%;
        text-align: center;
        border-bottom: 1px solid #F4F4F4;
        margin-top: 0.2rem;
        img{
            width: 50%;
        }
        p:nth-child(2){
            font-size: 0.36rem;
        }
        p:nth-child(3){
            font-size: 0.22rem;
            color: #d7d7d7;
        }
    }
}
.h1{
    padding: 0.1rem;
    color: #505050;
    margin-bottom: 0.2rem;
    font-size: 0.22rem;
}
.h2{
    padding: 0.1rem;
    width: 100%;
    text-align: center;
    color: #505050;
    font-size: 0.36rem;
}
.p{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    p{
        width: 25%;
        text-align: center;
        color: #505050;
        font-size: 0.36rem;
    }
    p:nth-child(1){
        color: #42CB98;
    }
}
.pp{
    width: 100%;
    margin-top: 0.2rem;
    color: #505050;
    text-align: center;
    font-size: 0.22rem;
}