* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  height: 1rem;
  display: flex;
  justify-content: space-between;
}

.header div:nth-child(1) {
  width: 30%;
  text-align: center;
  line-height: 1.02rem;
}

.header div:nth-child(1) img {
  width: 79%;
  height: 75%;
}

.header div:nth-child(2) {
  width: 50%;
  line-height: 1rem;
}

.header div:nth-child(2) p {
  font-size: 0.38rem;
  color: #000;
}

.header div:nth-child(3) {
  width: 13%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header div:nth-child(3) i {
  margin-top: 0.07rem;
  font-size: 0.30rem;
  color: #939393;
}

.header div:nth-child(3) p {
  font-size: 0.25rem;
  color: #939393;
}

.lb {
  width: 100%;
  height: 2.56rem;
  
  

}
 .swiper-pagination {
    margin: -.23rem 0.05rem;
}

.lb img {
  width: 100%;
  height: 100%;
}


.center_a {
  width: 95%;
  border-radius: 0.05rem 0.05rem;
  margin: 0.20rem auto;
  background: #F4F4F4;
  display: flex;
  justify-content: space-around;
  padding: 0.08rem 0;
}

.center_a div:nth-child(1) {
  width: 60%;
}

.center_a div:nth-child(1) p {
  font-size: 0.24rem;
  color: #000;
}

.center_a div:nth-child(1) p span {
  margin: 0.05rem 0.06rem;
}

.center_a div:nth-child(2) {
  width: 30%;
}

.center_a div:nth-child(2) .dva {
  width: 0.023rem;
  height: 0.021rem;
  line-height: 0.03rem;
  border: 0.023rem solid #000;
  margin-left: 0.5rem;
  margin-top: 0.15rem;
}

.center_b {
  margin: 0.36rem auto;
}

.center_b p {
  font-size: 0.36rem;
  text-align: center;
  color: #000;
}

.center_b p span {
  padding: 0 0.08rem;
  color: #000;
}

.center_cc {
  width: 60%;
  margin: 0.36rem auto;
  display: flex;
}

.center_cc li:nth-child(1) {
  width: 45%;
  display: flex;
}

.center_cc li:nth-child(1) i {
  font-size: 0.28rem;
  margin-right: 0.12rem;
  color: #999;
}

.center_cc li:nth-child(1) p {
  font-size: 0.24rem;
  color: #999;
}

.center_cc li:nth-child(2) {
  width: 35%;
  margin-left: 1.3rem;
  display: flex;
}

.center_cc li:nth-child(2) i {
  font-size: 0.43rem;
  color: #999;
  margin-right: 0.12rem;
  margin-top: -0.10rem;
}

.center_cc li:nth-child(2) p {
  font-size: 0.24rem;
  color: #999;
}

.center_d {
  width: 95%;
  margin: 0.30rem auto;
  border-bottom: 0.01rem solid #eaeaea;
}

.center_e {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.center_e li {
  border: 0.01rem solid #eaeaea;
  margin: 0 0.12rem;
  border-radius: 0.25rem 0.25rem;
  padding: 0.08rem 0.08rem;
}

.center_e li p {
  font-size: 0.24rem;
  color: #999;
}

.center_e .e_li {
  margin-top: 0.18rem;
}

.fxs {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.36rem;
}

.fxs p {
  font-size: 0.24rem;
  text-indent: 2em;
  color: #666;
}

.center_g {
  width: 80%;
  height: 3.53rem;
  margin: 0 auto;
  margin-top: 0.30rem;
}

.center_g img {
  width: 100%;
  height: 100%;
}

.center_h {
  width: 95%;
  text-align: center;
  margin: 0 auto;
  height: 0.70rem;
  margin-top: 0.50rem;
  line-height: 0.70rem;
  background: white;
  border-radius: 0.05rem 0.05rem;
  border: 0.01rem solid #51CE9E;
}

.center_h p {
  color: #51CE9E;
  font-size: 0.36rem;
}

.center_i {
  width: 95%;
  margin: 0 auto;
  margin-top: 0.36rem;
  display: flex;
  justify-content: space-around;
}

.center_i div {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.center_i div img {
  width: 1rem;
  height: 1rem;
}

.center_i div p {
  font-size: 0.24rem;
  margin-top: 0.23rem;
}

.center_i div .p1 {
  color: #3DA2F5;
}

.center_i div .p2 {
  color: #FEC846;
}

.bj {
  width: 100%;
  height: 0.19rem;
  background: #F4F4F4;
  margin-top: 0.32rem;
}

.xh {
  width: 80%;
  border-left: 0.08rem solid #38C792;
  padding: 0 0.13rem;
  margin-left: 0.18rem;
  margin-top: 0.30rem;
}

.xh p {
  font-size: 0.38rem;
  color: #000;
}

.ks {
  width: 95%;
  height: 1.45rem;
  display: flex;
  margin: 0.30rem auto;
}

.ks .dv1 img {
  width: 1.90rem;
  height: 100%;
}

.ks .dv2 {
  margin-left: 0.18rem;
}

.ks .dv2 p {
  font-size: 0.35rem;
  color: #000;
}

.ks .dv2 ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.55rem;
}

.ks .dv2 ul li:nth-child(1) {
  width: 50%;
  display: flex;
}

.ks .dv2 ul li:nth-child(1) i {
  font-size: 0.28rem;
  color: #999;
  margin-right: 0.08rem;
}

.ks .dv2 ul li:nth-child(1) p {
  font-size: 0.24rem;
  color: #999;
}

.ks .dv2 ul li:nth-child(2) {
  width: 50%;
  display: flex;
}

.ks .dv2 ul li:nth-child(2) i {
  font-size: 0.43rem;
  color: #999;
  margin-top: -0.10rem;
  margin-left: 0.35rem;
}

.ks .dv2 ul li:nth-child(2) p {
  font-size: 0.24rem;
  color: #999;
  margin-left: 0.06rem;
}

.jb {
  width: 100%;
  height: 0.18rem;
  background: #F4F4F4;
}

.bj {
  width: 100%;
  margin-bottom: 0.30rem;
  height: 0.18rem;
  background: #F4F4F4;
}

.footer {
  text-align: center;
}

.footer .footer_a {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 0.30rem;
  display: flex;
  justify-content: center;
}

.footer .footer_a p {
  font-size: 0.24rem;
  color: #000;
}

.footer .footer_a img {
  width: 0.28rem;
  height: 0.28rem;
  margin-top: 0.02rem;
  margin-right: 0.10rem;
}

.footer .footer_b {
  width: 95%;
  margin: 0 auto;
}

.footer .footer_b li {
  float: left;
  font-size: 0.24rem;
  padding: 0 0.45rem;
}

.footer li:hover {
  color: #51CE9E;
}

.footer .fot_img {
  width: 100%;
  height: 100%;
}
